.pointer:hover{
  cursor: pointer;
}
.app-container {
  .login-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 30px 30px;
  }
  .login-container.col-12.col-sm-4 {
    border: 2px solid #fcb900;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
  }

  .title-login {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    padding-top: 30px;
    color: #fcb000;
    margin-bottom: 30px;
  }

  .text-login {
    font-weight: 600;
    padding-bottom: 5px;
  }

  .input-login {
    outline: none;
    margin-bottom: 10px;
    background: #1618230f;
    border: #1618230f;
    border-radius: 3px;
    width: 100%;
    border: 2px solid #fcb900;

    &:hover {
      background-color: #dedede;
      border: 3px solid #dedede;
    }
  }

  button {
    margin-top: 15px;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    outline: none;
  }
  .a-login {
    text-decoration: none;
  }

  .back {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
  }

  .active {
    background-color: #fcb000;
    color: black;
  }

  button[disabled="disabled"],
  button:disabled {
    cursor: not-allowed;
  }

  .navbar-brand .bi-shop {
    color: #7ab730;
  }

  .navbar {
    margin-bottom: 0 !important;
    border-bottom: 3px solid #cbc9c9;
  }
  .nav-dropdown {
    position: relative;
    
    margin: 0;
    padding-top: 20px;
    padding-left: 20px;
    z-index: 1000;
    
    background-color: white;
    border-right:1px solid #999;
    border-left:1px solid #999;
    
  }
  .nav-dropdown:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .nav-dropdown:nth-last-child(1){
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .nav-dropdown:hover {
    background-color: darkgray;
    color: white;
  }
  .video-wrapper {
    position: relative;
    width: 100% !important;
    height: 550px !important;
    margin-top: 4%;
  }
  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text {
    position: "absolute";
    top: 0;
    left: 0;
    // other text styles
  }

  .search-bar {
    width: 600px;
    height: 40px;
    margin-left: 40px;
    position: relative;
  }

  .search-bar input {
    width: 100%;
    height: 100%;
    border: 2px solid #fcb000;
    border-radius: 30px;
    padding: 0 20px;
  }

  .search-bar input::placeholder {
    color: #999;
  }

  .search-bar input:focus {
    outline: none;
  }
  .search-result{
    overflow-y: scroll;
  }
  .button-search {
    height: 40px;
    border-radius: 0 30px 30px 0;
    background-color: #fcb000;
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0px;
    text-align: center;
  }

  .nav-link {
    color: #212529;
  }
  svg.svg-inline--fa.fa-magnifying-glass {
    margin-bottom: 10px;
  }
  .footer {
    border-top: 1px solid gold;
    background-color: #ffc72d;
    color: #000000;
    width: 100%;
  }

  // -------register------

  label.form-label-register {
    width: 100%;
    display: block;
    text-align: left;
    color: #000000;
  }
  .container.register {
    display: flex;
    justify-content: center;
  }
  .register-page {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 500px;
    border: 2px solid #fcb900;
    border-radius: 20px;
  }

  .form-control {
    height: 30px;
    display: block;
    width: 100%;
  }
  .mb-2-register {
    margin-bottom: 10px;
  }
  .error-register {
    color: red;
    margin-top: 10px;
    text-align: left;
  }
  .register-form-container {
    padding: 30px 30px;
    background-color: white;
  }
  .h1-register {
    color: #fcb900;
    text-align: center;
    font-size: 50px;
  }

  .button-register {
    border: none;
    margin-left: 150px;
    width: 150px;
    margin-top: 10px;
    background-color: #fcb900;
    color: #000000;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }

  .input-register {
    // background-color: white;
    // border-radius: 5px;
    // border: 2px solid #000000;

    outline: none;
    margin-bottom: 10px;
    background: #1618230f;
    border: #1618230f;
    border-radius: 3px;
    width: 100%;
    border: 2px solid #fcb900;

    &:hover {
      background-color: #dedede;
      border: 3px solid #dedede;
    }
  }

  //--------forgotpassword----

  .input-forgotpassword {
    outline: none;
    margin-bottom: 10px;
    background: #1618230f;
    border: #1618230f;
    border-radius: 3px;
    width: 100%;
    border: 2px solid #fcb900;

    &:hover {
      background-color: #dedede;
      border: 3px solid #dedede;
    }
  }
  .button-forgotpassword {
    color: #000000;
    background-color: #fcb900;
    border: none;
  }
}

// product
.products-heading {
  // border-top: 1px solid gold;
  // border-bottom: 1px solid gold;

  background-color: #fcc019db;
  text-align: center;
  padding: 20px;
}

.products-heading h3 {
  margin: 0;
}
.products {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  
  background-color: #fcb900e6;
  
}

.card {
  display: flex;

  width: calc(25% - 20px);
  max-width: 300px;

  text-align: center;
  flex-direction: column;
  align-items: center;

  margin: 10px;
  padding: 20px;

  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
}

.card .card-image {
  width:  auto;
  height: 120px;

  margin-bottom: 10px;
  margin-right: 20px;

  border-radius: 4%;
}

.card .card-title {
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .card-text {
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 30%);
}

//------------------Profile User-----------------------
.profilecontainer button{
  padding: 0;
}
.profileUserPage {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px 30px;

  border: 2px solid #fcb900;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  height: 450px;
  width: 500px;
  color: #000000;
  background-color: #fcb900;
}

.title-profile {
  font-size: 50px;
  font-weight: bold;
}
.label-profile {
  margin-bottom: 10px;
}
.button-profile {
  width: 100px;
  height: 30px;
  background-color: #ffffff;
  color: #fcb900;
  border: none;
  padding:1px 6px;
  margin-top: 40px;
  border-radius: 5px;
}
.profileUserPage input {
  border-radius: 5px;
}
.button-profile-userChangePassword {
  width: 150px;
  height: 30px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  margin-top: 40px;
  padding:1px 6px;
  border-radius: 5px;
  margin-left: 15px;
}
//------------------Product Details-----------------------
.product-details-container{
  background-color: #ffffff;
  // display: flex;
  text-align: start;
  margin-top: 62px;
}
.product-details-container h3{
  font-weight: bold;
}
.productDetails{
  padding-top: 20px;
}
.productDetails img {
  margin: 1%;
  width: 400px;
  height: auto;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.title-product-details {
  display: block;
  font-size: 30px;
  font-weight: bold;
}
.productDetails span {
  color: red;
  font-size: 20px;
  font-weight: bold;
}
.productDetails button {
  height: 35px;
  padding: 0;
  width: 100px;
  margin-left: 10px;
  background-color: #fcb000;
  color: #000000;
}
.productDetails input {
  width: 50px;
  height: 35px;
}

.sticky{
  position: fixed;
  top:0;
  width: 100%;
  z-index: 20000;
}
//---------------------------suggestion-------------------------
.suggest-content{
  padding: 2%;
}
.product-suggestions{
  background-color: #ffffff;
}
.suggest-card{
  margin-left: 4%;
  width: 400px;
  height: auto;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.title-goi-y {
  text-align: center;
  font-size: 25px;
  padding: 1%;
}
.product-suggestions img {
  width: 220px;
  height: 220px;
  border-radius: 5px;
}
.product-suggestions h6{
  padding-top: 20px;
}

//--------------Bill details------------------
.billDetails span {
  color: red;
  font-weight: bold;
}
.billDetails b {
  font-size: 25px;
}
.form-order {
  border: 2px solid #fcb900;
}
.bill-border {
  border-top: 2px solid #d4cfcf;
}
.billDetails button {
  margin-bottom: 30px;
  width: 400px;
  background-color: #3072e4;
  color: white;
  border: none;
}
//-----------------------order------------------------------------
.order{
  margin-top: 75.5px;
}
//------------------cart------------------------------------
.cart-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: flex-end;
}

.cart-icon {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-icon-svg {
  color: darkgoldenrod;
}